<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phasnox.sephiroth.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SephirothMobile</name>
    <description>
        Sephiroth signal viewer for mobile
    </description>
    <author email="phasnox@gmail.com" href="http://phasnox.com">
        phasnox
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
</widget>
